/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la p�gina se vea correctamente.
   ================================================================== */

/*-- B�sico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

#cabecera { clear: both; }
#menu { clear: both; }
#lateral { float: left; width: 20%; }
#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 78%; }
#contenido #secundario { float: right; width: 20%; }
#pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Secci�n Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de p�gina ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aqu�, se pueden a�adir todos los estilos propios que 
   sean necesarios.
   ================================================================== */

  h1 {
    color: orange;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: lowercase; 
    padding: 0.3em;
  }

  h1::first-letter{
    text-transform: uppercase;
  }
   
#buscador {
  padding: 0.5em;
}

  #menu {
    background-color: rgb(95, 95, 199);
    padding: 0.5em;
  }

  #noticias{
    background-color: rgb(231, 231, 231);
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
  }

#publicidad{
  background-color: rgb(252, 252, 197);
  padding: 0.5em;
  border: 1px dashed orange ;
  margin-bottom: 1em;
}

.articulo{
  padding: 1.5em 1.5em 0em 1.5em;
}

.articulo img {
  margin: 0.5em;
}

#secundario h2{
  background-color: orange;
  padding: 0.2em;
}

#secundario {
  margin-top: 0.5em;
  padding: 0.3em;
  border: 1px solid orange;
}

#pie {
  background-color: rgb(236, 236, 236);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}